body{
    z-index: 1;
}
*{
  padding: 0;
  margin: 0;
}

header{
  background-image: url('nyc.jpg');
  background-size: cover;
  height: 100vh;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

h1, h4{
  color:antiquewhite;
  font-family: sans-serif;

}


p{
  max-width: 600px;
  margin: 0 auto;
     transition: all 2s;
    -webkit-transition: all 2s;
   

}

.sidebar{
    background: black;
    position: fixed;
/*    display: none;    */
    width: 160px;
    height: 100vh;
    left: -160px;
    top: 0px;
    transition: all 2s;
    -webkit-transition: all 2s;
    
}
.sidebar ul{
   
    margin-top: 20px;
    text-align: center;
}
.sidebar ul li{
    cursor: pointer;
    color: #808080;
    margin-bottom: 15px;
}
.sidebar ul li:hover{
    color: antiquewhite;
}

label {

    position: fixed;
    cursor: pointer;
    left: 10px;
    top: 20px;
    font-size: 40px;
    z-index: 2;
    transition: all 2s;
    -webkit-transition: all 2s;
   
}

input {
    display: none;
}



input:checked + label{
    left: 200px;
}

input:checked ~ .sidebar{
    left: 0px;
}
input:checked ~ p{
    padding-left: 250px;
     transition: all 2s;
    -webkit-transition: all 2s;
   
}
